@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  /* 強制設定所有表單元素的文字顏色與提示字顏色 */
  input, 
  select, 
  textarea {
    @apply text-stone-900 placeholder:text-stone-400 bg-white;
  }

  /* 針對被禁用的輸入框設定稍微淺一點的顏色 */
  input:disabled, 
  select:disabled, 
  textarea:disabled {
    @apply text-stone-500 bg-stone-100 cursor-not-allowed;
  }
}